body,
button,
footer {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4caf50; /* Nice green background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
